page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 32rpx;
}

.scrollarea {
  background-color: #f5f5f5;
  flex: 1;
  width: calc(100% - 28px);
  overflow-y: hidden;
  padding: 6px 14px;

  .videoContainer {
    height: 420rpx;
    background-color: #000;

    .video-player {
      width: 100%;
      height: 100%;
    }
  }

  .firstText {
    margin-top: 20px;

    .title {
      font-weight: 600;
      margin-bottom: 10px;
    }

    .text {
      margin-bottom: 10px;
    }
  }

  .swiperContainer {
    width: 100%;
    height: 240px;
    margin-bottom: 10px;

    .swiperItemPic {
      width: 100%;
      height: 100;
      background-size: cover;
    }
  }

  .card {
    width: calc(100% - 24px);
    border-radius: 12px;
    background-color: #ffffff;
    padding: 16px 12px;
    margin-bottom: 14px;

    .cardTitle {
      font-size: 36rpx;
      font-weight: 600;
      margin-bottom: 20px;
    }

    .importantContent {
      display: flex;
      justify-content: space-between;

      .item {
        text-align: center;

        .pic {
          width: 40px;
          height: 40px;
          background-repeat: no-repeat;
          background-size: cover;
          margin-bottom: 6px;
        }
      }
    }

    .cardTitleWithMore {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      .title {
        font-size: 30rpx;
        font-weight: 600;
        ;
      }

      .moreBtn {
        font-size: 30rpx;
        color: gray;
      }
    }

    .serviceContainer {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .serviceContainerItem {
        width: 33%;
        .pic {
          width: 100%;
          height: 80px;
          background-size: cover;
        }
      }
    }
  }
}